// Файл настроек JourneyMap. Редактировать на свой страх и риск!
// Для использования во всех мирах, поместите этот файл в 'journeymap\config\5.2\'
// Для дополнительной информации откройте страницу http://journeymap.info/help/wiki/Options_Manager
{
  "preferredMapType": "day",
  "showCaves": true,
  "fontScale": 2,
  "textureSmall": true,
  "showWaypointLabels": true,
  "locationFormatVerbose": true,
  "locationFormat": "xzyv",
  "showMobHeading": true,
  "showPlayerHeading": true,
  "showMobs": true,
  "showAnimals": true,
  "showVillagers": true,
  "showPets": true,
  "showPlayers": true,
  "showWaypoints": true,
  "showSelf": true,
  "showGrid": false,
  "entityIconSetName": "2D",
  "entityScale": 100,
  "entityBlur": true,
  "zoomLevel": 0,
  "disabled": false,
  "configVersion": {
    "major": 5,
    "minor": 2,
    "micro": 10,
    "patch": ""
  }
}